<%- include('../base/header') -%>
<%- include('../base/navbar') -%>
<div class="container">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="alert alert-warning" role="alert">
                    <div class="display-1">
                        this page is not found ,please go<a href="/" class="alert-link">link</a>
                    </div>
            </div>
        </div>
    </div>
</div>
<%- include('../base/footer') -%>