<%- include('../base/header') -%>
<%- include('../base/navbar') -%>
<div class="container">

    <div class="row mt-3">
        <div class="col-md-12">
            <%- include('../base/messages') -%>
        </div>
    </div>
    
</div>
<%- include('../base/footer') -%>